<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="h-16 bg-surface-light dark:bg-surface-dark border-b border-border-light dark:border-gray-800 flex items-center justify-between px-6 flex-shrink-0">
        <h2 class="text-lg font-bold text-text-primary dark:text-white">Trang quản trị</h2>
        <div class="flex items-center gap-4">       
            <div class="flex items-center gap-3 pl-4 border-l border-border-light dark:border-gray-700">
                <div class="text-right hidden sm:block">
                    <p class="text-sm font-semibold text-text-primary dark:text-white" th:text="${currentUser.fullName}">Tên người dùng</p>
                    
                    <p class="text-xs text-text-secondary" th:if="${currentUser.roleU == 'user'}">Nhân viên</p>
                    <p class="text-xs text-text-secondary" th:if="${currentUser.roleU == 'Admin'}">Chủ cửa hàng</p>
                </div>
                <div class="w-9 h-9 rounded-full bg-primary/20 flex items-center justify-center text-primary font-bold overflow-hidden border border-primary/20">
                    <img class="w-full h-full object-cover" data-alt="User profile avatar" th:src="${currentUser.avatarUrl}" />
                </div>
            </div>
        </div>
    </header>
</body>
</html>